<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL shortner app</title>
    <style>
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        form{
            display: flex;
            justify-content: center;
            align-items:flex-start;
            flex-direction: column;
           
            padding: 50px;
            border-radius: 5px;
            box-shadow:0px 0px 18px 0px;
        }
        input{
            margin-bottom: 23px;
            height: 20px;
            width: 180px;
            
        }
        h1{
            margin-bottom: 100px;
        }
        button{
            box-shadow: 1px 1px 2px 1px;
        }
    </style>
</head>
<body>
    <h1>Signup</h1>
    <div class="forForm">
    <form action="user/signup" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" >
                                  
        <label for="email">Email:</label>
        <input type="text" name="email">

        <label for="password">Passsword:</label>
        <input type="text" name="password">

        <button type="submit">Signup</button>

        <p>already a user? <a href="https://urlshortnerbyme-1.onrender.com/login">login</a></p>
    </form>
</div>
</body>
</html>